<h2>Thanks for asking!</h2>
	
<p>Your question was: <%= @question %></p>

<p>Your answer is: <%= @answer %></p>

<%= link_to "Ask another question?", magic_eight_ball_path %>
<%= link_to "Back to the arcade", root_path %>