<H1>You're equal!</h1>
  <p>You chose <%= @guess %> and we chose <%= @computer_weapon %> </p>

  <p><%= link_to "Play Again", rock_paper_scissors_path %></p>

  <p><%= link_to "Go Back to Arcade", root_path %></p>