<h1>Welcome to the arcade!!!</h1>

<h2>Choose a game to play</h2>

<ul>
	<li>
		<%= link_to "Magic 8 Ball", magic_eight_ball_path %>
	</li>
	<li>
		<%= link_to "Secret Number Game", secret_number_game_path %>
	</li>
	<li>
		<%= link_to "Rock Paper Scissors", roshambo_path %></li>
</ul>
	