<h1>Welcome to the movies app</h1>

<p> Please choose from the catalogue below</p>


  <% @movies.each do |movie| %>
  <p><strong><%= link_to "#{movie.title}", show_movie_path(movie)%></strong></p>
  <p>Year Created: <%= movie.year_released %></p>
  <% end %>

