<h1>Welcome to the movies app</h1>

<p> Please choose from the catalogue below or <%= link_to "Add a Movie", new_movie_path%></p>


  <% @movies.each do |movie| %>
  <p><strong><%= link_to "#{movie.title.order}", show_movie_path(movie)%></strong></p>
  <% end %>

<!-- how to make them in alphabetical ordered list? -->


