<h1>You Selected</h1>

 <p><strong><%= @movie.title %></strong></p>
  <p><%= @movie.description %></p>
  <p>Year Created: <%= @movie.year_released %></p>

    <li><%= link_to "Back to Movie List", secret_number_guess_path(number) %><li>

