<<<<<<< HEAD

<ul>
  <% @shirts.each do |shirt| %>
  <li>
   <%= shirt.name %>
   <%= link_to "Edit", edit_shirt_path(shirt) %>
 </li>
  <% end %>
=======
<ul>
	<% @shirts.each do |shirt| %>
		<li>
			<%= shirt.name %>
			<%= link_to 'Edit', edit_shirt_path(shirt) %>
		</li>
	<% end %>
>>>>>>> teacher/master
</ul>