<h1>You Selected</h1>

 <p><strong><%= @movie.title %></strong></p>
  <p><%= @movie.description %></p>
  <p>Year Created: <%= @movie.year_released %></p>

    <p><%= link_to "Go back to Movie listing", root_path %></p>
