<%= form_for [@story, @comment] do |f| %>
	<fieldset>
		<legend>Add a comment</legend>
		
    <div class='form-group'>
      <%= f.label :content %>
      <%= f.text_area :content, :class => 'form-control' %>
    </div>
		
		<%= f.submit %>
		
	</fieldset>
<% end %>