<h1>Welcome to the Arcade!!!</h1>

<h2>Choose a Game to Play</h2>

<ul>
  <li>
    <%= link_to "Magic 8 Ball", magic_eight_ball_path %>
  </li>
  <li>
    <%= link_to "Secret Number Game", secret_number_game_path %>
  </li>
  <li>
    <%= link_to "Rock, Papers, Scissors", rock_paper_scissors_path %>
  </li>
</ul>

