

    <h1>You made it to the Show page!</h1>
    <p>Here's Your Shortcode for <strong><%= @url.name %></strong></p>
    <p><a href="<%= @url.short_link %>"><%= @url.short_link %></a></p>

    <hr>
    <p><%= link_to "Shorten another link!", root_path %></p>

 